
.navbar{ padding: 0!important; }
.navbar-brand img {  
       height: 130px;
       border-radius: 100%;
}
.container-fluid{ background-color: rgb(134, 85, 180); }
.nav-item a{
    font-family: cursive;
    color: white;
    margin: 10px;
    font-size: 20px;
    transition: all 0.3s ease;
}
.nav-item a:hover{
    color: rgb(122, 226, 122);
    transform: scale(1.2);
}
.carousel-fixed-size{
  width: 952px;
  height: 450px;
}
.carousel-fixed-size .carousel,
.carousel-fixed-size .carousel-inner,
.carousel-fixed-size .carousel-item{
  height: 100%;
}
.carousel-fixed-size img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
footer {
    background-color: rgb(134, 85, 180);
}
.card img {
    height: 286px;
    width: 190;
    object-fit: cover;
}
    .fixarRodape {
    background-color: rgb(134, 85, 180);
   width: 100%;
    padding: 1rem 0;
    margin-top: auto;
    }